body {
    font-family: sans-serif;
    background-color: aliceblue;
    text-align: center;
    font-size: 20px
}

.trybe {
    color: #2fc18c;
    text-decoration: none;
}

.foto {
    border-radius: 50%;
}

p {
    font-size: 18px;
}

.indice {
    color: black;
    text-decoration: none;
}